<div class="day-04">
	<div class="wall"></div>

	<div class="container" id="left">
		{% for i in 1..15 %}
		<div class="circles circles-left"></div>
		{% endfor %}
	</div>

	<div class="container" id="right">
		{% for j in 1..15 %}
		<div class="circles circles-right"></div>
		{% endfor %}
	</div>
</div>