<div class="day-01">
	<div class="waves">
		<div>
			{% for i in 1..200 %}
				<span class="wave-vertex"></span>
			{% endfor %}
		</div>

		<div class="bubbles">
			{% for i in 1..5 %}
				<span class="bubble w-{{i}}"></span>
			{% endfor %}
		</div>
	</div>
</div>