<!Doctype html>
<html>
	<head>
		<title>Codevember</title>
		<link rel="stylesheet" href="./css/style.css" />
	</head>

	<body>
		{# {% include './01.twig' %} #}
		{% include './02.twig' %}
	</body>
</html>