<!Doctype html>
<html>
	<head>
		<title>Codevember</title>
		<link rel="stylesheet" href="./css/style.css">
	</head>

	<body>
		{# {% include './01.twig' %} #}
		{# {% include './02.twig' %} #}
		{# {% include './03.twig' %} #}
		{# {% include './04.twig' %} #}
		{% include './05.twig' %}

		<!-- <script src="./js/main.js" type="text/javascript"></script> -->
	</body>
</html>